<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Sites</title>
    <link rel="stylesheet" href="~/Content/styles.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script>
        $(document).ready(function () {
            $(".hamburger").click(function () {
                $(".wrapper").toggleClass("collapse");
            });
        });
    </script>
</head>
<body>
    <div class="wrapper">
        <div class="top_navbar">
            <div class="hamburger">
                @*de der tre linjer på menu dropdown ting*@
                <div></div>
                <div></div>
                <div></div>
            </div>

            <div class="top_menu">
                <div class="logo">LOGO LOGO</div>
                <ul>
                    <li><a href="#"><i class="fas fa-home"></i></a></li>
                    <li><a href="#"><i class="fas fa-globe-asia"></i></a></li>
                    <li><a href="#"><i class="fas fa-user-secret"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="sidebar">
            <ul>
                <li>
                    <a href="~/home/Index">
                        <span class="icon"></span>
                        <i class="fas fa-home" aria-hidden="true"></i>
                        <span class="title">Home</span>
                    </a>
                </li>
                <li>
                    <a href="~/home/friends">
                        <span class="icon">
                            <i class="fas fa-user-friends" aria-hidden="true"></i>
                        </span>
                        <span class="title">Friends</span>
                    </a>
                </li>
                <li>
                    <a href="~/home/explore" class="active">
                        <span class="icon">
                            <i class="fas fa-comments" aria-hidden="true"></i>
                        </span>
                        <span class="title">Forums</span>
                    </a>
                </li>
                <li>
                    <a href="~/home/spotify">
                        <span class="icon">
                            <i class="fab fa-spotify" aria-hidden="true"></i>
                        </span>
                        <span class="title">Spotify</span>
                    </a>
                </li>
                <li>
                    <a href="~/home/settings" >
                        <span class="icon">
                            <i class="fas fa-cog" aria-hidden="true"></i>
                        </span>
                        <span class="title">Settings</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="emne_container">
            <a href="Chat">
                <div class="emne" id="Gamingicon" @*onclick="GoToGamingSite()"*@>
                    <p class="emneNavn">Gaming</p>
                </div>
            </a>

            
            <div class="emne" id="Brødicon">
                <p class="emneNavn">Hvidløgsbrød</p>
            </div>
            <div class="emne" id="Fiskicon">
                <p class="emneNavn">Fisk</p>
            </div>

        </div>    
    </div>
</body>

</html>